name: Performance Test Pipeline

on:
  workflow_dispatch:
    inputs:
      aut_repo:
        description: 'URL del repositorio p칰blico de la aplicaci칩n bajo prueba (PetStore)'
        required: true
        default: 'https://github.com/swagger-api/swagger-petstore.git'

      jmx_file:
        description: 'Nombre del archivo .jmx de JMeter'
        required: true
        default: 'PP_PetStoreApi.jmx'

jobs:
  performance_run:
    runs-on: ubuntu-24.04

    steps:
      - name: 丘뙖잺 Checkout del Robot (Este Repositorio)
        uses: actions/checkout@v4

      - name: 游닍 Instalar Maven y Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: 游닍 Instalar JMeter (Desde Repositorio Oficial)
        id: install_jmeter
        run: |
            JMETER_VERSION=5.6.3
            JMETER_ARCHIVE=apache-jmeter-${JMETER_VERSION}.zip
            JMETER_FOLDER=apache-jmeter-${JMETER_VERSION}
            
            echo "Descargando JMeter versi칩n ${JMETER_VERSION}..."
            wget https://archive.apache.org/dist/jmeter/binaries/${JMETER_ARCHIVE}
            unzip ${JMETER_ARCHIVE}
            
            # Definir JMETER_HOME para uso posterior
            JMETER_HOME="$PWD/${JMETER_FOLDER}"
            echo "JMETER_HOME=${JMETER_HOME}" >> $GITHUB_ENV
            
            # Agregar el binario a GITHUB_PATH para que el comando 'jmeter' est칠 disponible
            echo "${JMETER_HOME}/bin" >> $GITHUB_PATH

      - name: 游닌 Clonar y compilar la AUT
        run: |
          git clone ${{ github.event.inputs.aut_repo }} aut_repo
          cd aut_repo

      - name: 游 Ejecutar la AUT en segundo plano
        run: |
          mvn package jetty:run & 
          sleep 20
          cd ..


      - name: 游끢 Ejecutar Pruebas de Carga con JMeter
        run: |
            # Asegurarse de que el directorio de resultados existe
            mkdir -p results
            
            # La variable de entorno JMETER_HOME est치 disponible gracias al paso anterior
            # Ejecutamos jmeter.sh usando la ruta completa
            $JMETER_HOME/bin/jmeter.sh -n -t ${{ github.event.inputs.jmx_file }} \
                   -l results/jmeter_raw_results.jtl \
                   -e -o results/jmeter_html_report
          

      - name: 游닋 Subir Reporte Combinado (HTML)
        uses: actions/upload-artifact@v4
        with:
          name: reporte-rendimiento-combinado
          path: combined_report.html

      - name: 游닋 Subir Archivos Crudos de JMeter
        uses: actions/upload-artifact@v4
        with:
          name: jmeter-raw-data
          path: results/jmeter_raw_results.jtl

      - name: 游닋 Subir Reporte HTML Nativo de JMeter
        uses: actions/upload-artifact@v4
        with:
          name: jmeter-native-report
          path: results/jmeter_html_report/
